@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		--background: #faf9fe;
		--primary: #9378ff;
		--secondary: #fbeeff;
		--tertiary: #ffffff;
		--primary-text: #120e21;
		--secondary-text: #99879d;
		--danger: #ff0000;
		--success: #00ff00;
		--warning: #ff9900;
	}
}

@layer base {
	body {
		@apply bg-background text-primary-text font-red-hat-display;
	}
}
